table {
  border-collapse: collapse;
  width: 100%;
}

tbody td {
  text-align: left;
  padding: 28px 8px;
}

thead th {
  text-align: left;
  padding: 28px 8px;
  color: rgb(226 232 240);
}

thead th.sn-col,
tbody .sn-col {
  text-align: left;
  width: 10%;
  padding-left: 15px;
}

thead th.title-com-col,
tbody .title-com-col {
  width: 60%;
}

tbody tr:hover {
  background-color: #ababab;
}

thead th.date-col,
tbody .date-col {
  text-align: left;
  width: 30%;
}

tbody td {
  flex: 1;
}
